.centerContainer {
    align-items: center;
    display: flex;
    justify-content: center;
}

.testContainer {
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

.listContainer {
    align-items: center;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.listContainer > div {
    // border-right: 1px solid white;
    flex-basis: 20%;
    padding: 0 0.5ex;
}

.loremParagraph::first-line {
    font-size: 200%;
}

.red {
    color: red;
}
